Examples/
logfiles/
patterns/
simulation_outdir/
work/
synthesis_outdir/
tsdb_outdir/
croc/

logs_inChannelCnt*/

fault_list
*.vg
*.log
*.svf
*.dbg

*.rpt
*.dofile
*.fau

*.list
*.txt
*.sdc
*.tcd

*.dc_shell_import_script
*.merged_sdc
run_fsim-
run_clk_domains
nv_small

//xbound_*


